*{
  box-sizing: border-box
}

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #7185AA;
	background-color: #1D2A43;
}

html::-webkit-scrollbar
{
	width: 10px;
	background-color: #1D2A43;
}

html::-webkit-scrollbar-thumb
{
	background-color: #1D2A43;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
